@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*{
    padding: 0;
    margin: 0;
}

.main{
    background-image: url("https://ic.c4assets.com/brands/who-killed-tupac/9737855e-ae1b-44d6-acdd-b13fa2642e00.jpg?interpolation=progressive-bicubic&output-format=jpeg&output-quality=90{&resize}");
    background-size: cover cover;
    padding-top: 170px;
    min-height: 50vh;
    text-align: center;
    font-size: 90px;
    font-weight: bolder;
    color: white;
    font-family: 'Satisfy', cursive;
    padding-left: 10px;
    align-items: center ;
}

.logo img{
    height: 65px; padding: 5px;
}

.pic1, .pic2, .pic3{
    padding: 20px;
}

.navbar{
    display: flex;
    background-color: black;
    color: white;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-decoration: none;
}


.navItems{
    padding: 25px;
}

.navbar nav ul li{
    display: inline;
    margin-left: 5px;
    margin: 20px;
    list-style-type: none;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    text-decoration: none;
    color: red;
}

.mainContent{
    padding: 90px;
    background-color: black;
    color: white;
}

.mainContent h1{
    text-align: center;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    padding-top: 75px;
    margin: 10px 30px 10px 30px;
}

.mainContent p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: 25px 25px 35px 25px;
}

.content{
    display: block;
}

.bottomContainer{
    text-align: center;
    color: white;
    background-color: rgb(17, 16, 16);
    padding: 10px;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}