.container{
    overflow-x: hidden;
}

.main{
    background-position: center;
    background-size: cover;
    min-height: 70vh;
}

.main h3{
    margin-top: 40%;
}

.mainContent p{
    margin-top: 15%;
    margin-left:  -45%;
    margin-right: -45%;
    font-size: 15.5px;
    padding-top: 15%;
    padding-right: 13%;
    padding-bottom: 10%;
    padding-left: 13%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 145%;
    text-indent: 0%;
}

.navbar nav ul li{
    display: inline;
    margin-left: 3.5px;
    list-style-type: none;
    text-decoration: none;
}

nav ul li a{
    width: auto;
}

.musicCDS{
    display: block;
}

.cd1, .cd2, .cd3, .cd5, .cd6{
    margin-top: 1%;
    margin-left: 0%;
    margin-right: 5%;
    height: 42vh;
    width: 85vw;
}

.cd4{
    margin-left: -7%;
    height: 48vh;
    width: 95vw;
}

.cd1A{
    margin-left: -7%;
    margin-right: 0%;
    height: 48vh;
    width: 95vw;
}

.cd4text, .cd4text1{
    margin-top: -2%;
}

.cd1A, .cd2A, .cd3A, .cd4A, .cd5A, .cd6A{
    margin-top: -7%;
    margin-left: -25%;
    height: 50vh;
    width: 93vw;
}


.musicCDS1 h2{
    margin-left: -10%;
    margin-top: -7%;
    padding: 10%;
}

.musicCDS1 h3{
    margin-left: -15%;
    margin-top: -60px;
    padding: 20px;
}

.musicCDS2 h2{
    margin-left: -25%;
    padding: 10px 40px;
}

.musicCDS2 h3{
    margin-left: -25%;
    margin-top: -35px;
    padding: 20px;
    margin-bottom: 20%;
}

.musicCDS1 h2, h3{
    margin-top: -30px;
}

.musicCDS2 h2, h3{
    margin-top: -30px;
}

