
*{
    position: relative;
}

.container{
    overflow-x: hidden;
}

.navbar{
    display: block;
}

.logo img{
    margin-left: 153px;
    height: 80px;
}

nav ul{
    overflow-y: hidden;
}

nav ul li a{
    padding: 5px;
    width: auto;
}

.main{
    background-size: cover;
    background-position: center;
    height: 40vh auto;
    width: 100vh auto;
    padding-left: 55px;
    position: static;
    padding-right: 35px;
}

.pic1{
    height: 23.1vh auto;
    width: 100vw;
    margin-left: -90px;
    padding: 0px;
}

.pic2{
    height: 23.1vh auto;
    width: 100vw;
    margin-left: -90px;
    padding: 0px;
}

.pic3{
    height: 24.1vh auto;
    width: 100vw;
    margin-left: -90px;
    padding: 0px;
}

.mainContent p{
    margin-top: 40px;
    margin-left: -65px;
    margin-right: -65px;
    font-size: 16px;
    line-height: 140%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mainContent home{
    margin-top: -50px;
}




