.container{
    overflow-x: hidden;
}

.main{
    background-position: center;
    background-size: cover;
}

.mainContent p{
    margin-top: 40px;
    margin-left:  -55px;
    margin-right: -55px;
    font-size: 16px;
    font-family:monospace;
}

.logo img{
    margin-left: 153px;
}

.navItems{
    margin-left: 23px;
}

.navbar{
    display: block;
}

nav ul li a{
    padding: -25px;
    width: auto;
}

.musicCDS{
    display: block;
}

.cd1, .cd2, .cd3, .cd5, .cd6{
    margin-left: -105px;
    margin-right: 90px;
    height: 45vh;
    width: 90vw;
}

.cd4{
    margin-left: -105px;
    margin-right: 90px;
    height: 45vh;
    width: 90vw;
}

.cd1A{
      margin-top: -100px;
      height: 45vh;
      width: 90vw;
}

.cd1A, .cd2A, .cd3A, .cd4A, .cd5A, .cd6A{
    margin-left: -290px;
    margin-right: 90px;
    height: 45vh;
    width: 90vw;
}


.musicCDS1 h2{
    margin-left: -130px;
    padding: 20px;
}

.musicCDS1 h3{
    margin-left: -130px;
    margin-top: -35px;
    padding: 20px;
}

.musicCDS2 h2{
    margin-left: -240px;
    padding: 20px;
}

.musicCDS2 h3{
    margin-left: -230px;
    margin-top: -35px;
    padding: 20px;
}

.musicCDS1 h2, h3{
    margin-top: -30px;
}

.musicCDS2 h2, h3{
    margin-top: -30px;
}

