.container{
    overflow-x: hidden;
}

.main{
    background-position: center;
    background-size: cover;
    min-height: 70vh;
}

.main h3{
    margin-top: 30%;
    font-family: 'Satisfy', cursive;
}

.mainContent p{
    margin-top: 15%;
    margin-left:  -35%;
    margin-right: -45%;
    font-size: 15.5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 145%;
    text-indent: 0%;
}

.navbar nav ul li{
    display: inline;
    margin-left: auto;
    list-style-type: none;
    text-decoration: none;
}

nav ul li a{
    width: auto;
}

.musicCDS{
    display: block;
}

.cd1, .cd2, .cd3, .cd5, .cd6{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    height: 60%;
    width: 90%;
}

.cd4{
    margin-left: -3%;
    height: 70%;
    width: 100%;
}

.cd4text, .cd4text1{
    margin-top: -2%;
}

.cd1A{
      margin-top: 0%;
      height: 60%;
      width: 90%;
}

.cd1A, .cd2A, .cd3A, .cd6A{
    margin-top: -7%;
    margin-left: -25%;
    height: 130%;
    width: 130%;
}

.cd4A{
    margin-top: -7%;
    margin-left: -25%;
    height: 130%;
    width: 130%;
}

.cd5A{
    margin-top: -7%;
    margin-left: -25%;
    height: 130%;
    width: 130%;
}


.musicCDS1 h2{
    margin-left: -10%;
    margin-top: -7%;
    padding: 10%;
}

.musicCDS1 h3{
    margin-left: -15%;
    margin-top: -60px;
    padding: 20px;
}

.musicCDS2 h2{
    margin-left: -25%;
    padding: 10px 40px;
}

.musicCDS2 h3{
    margin-left: -25%;
    margin-top: -35px;
    padding: 20px;
    margin-bottom: 20%;
}

.musicCDS1 h2, h3{
    margin-top: -15%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.musicCDS2 h2, h3{
    margin-top: -15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

